## tsibble objects

In [1]:
import pandas as pd

In [16]:
year
year = list(range(2015,2020))
observation = [123,39,78,52,110]
df = pd.DataFrame({"year":year, "observation":observation})

In [17]:
df

   year  observation
0  2015          123
1  2016           39
2  2017           78
3  2018           52
4  2019          110